/*
 * By aru
 */

@charset "utf-8";

// FUNCTIONS

@mixin indent-sibling-elements-except-itself(
	$element,
	$indent,
	$unit
) {
	#{$element} {
		& ~ *:not(&) {
			@include prefix(margin-left, #{$indent}#{$unit});
		}
	}
}

@mixin heading-indent-increment(
	$start-h,
	$end-h,
	$start-i,
	$increment-i,
	$unit-i
) {
	@include indent-sibling-elements-except-itself(
		h#{$start-h},
		$start-i,
		$unit-i
	);
	@if $start-h != $end-h {
		@include heading-indent-increment(
			$start-h + 1,
			$end-h,
			$start-i + $increment-i,
			$increment-i,
			$unit-i
		);
	}
}

@mixin prefix(
	$property,
	$value...
) {
	$vendor-prefixes: ("-webkit-", "-moz-", "-o-", "-ms-", "");
	@each $vendor-prefix in $vendor-prefixes {
		#{$vendor-prefix}#{$property}: #{$value};
	}
}

@mixin font-faces(
	$font-family,
	$font-weight,
	$font-style,
	$font-stretch,
	$font-display,
	$path,
	$file-name
) {
	@font-face {
		@include prefix(font-family, $font-family);
		@include prefix(font-weight, $font-weight);
		@include prefix(font-style, $font-style);
		@include prefix(font-stretch, $font-stretch);
		@include prefix(font-display, $font-display);
		@include prefix(
			src,
			url('#{$path}/#{$file-name}.eot')
		);
		@include prefix(
			src,
			url('#{$path}/#{$file-name}.eot?#iefix') format('embedded-opentype'),
			url('#{$path}/#{$file-name}.woff2') format('woff2'),
			url('#{$path}/#{$file-name}.woff') format('woff'),
			url('#{$path}/#{$file-name}.ttf') format('truetype'),
			url('#{$path}/#{$file-name}.svg##{$file-name}') format('svg')
		);
	}
}

/* FONTS */

@include font-faces(
	'Iosevka Curly',
	500,
	normal,
	normal,
	swap,
	'fonts/medium',
	'Iosevka-Curly-Medium'
);

@include font-faces(
	'Iosevka Curly',
	700,
	normal,
	normal,
	swap,
	'fonts/bold',
	'Iosevka-Curly-Bold'
);

@include font-faces(
	'Iosevka Curly',
	900,
	normal,
	normal,
	swap,
	'fonts/heavy',
	'Iosevka-Curly-Heavy'
);

// Backgrounds
$bg0h: #1d2021;
$bg0:  #282828;
$bg0s: #32302f;
$bg1:  #3c3836;
$bg2:  #504945;
$bg3:  #665c54;
$bg4:  #7c6f64;
$bg5:  #928374;

// Foregrounds
$fg0h: #f9f5d7;
$fg0:  #fbf1c7;
$fg0s: #f2e5bc;
$fg1:  #ebdbb2;
$fg2:  #d5c4a1;
$fg3:  #bdae93;
$fg4:  #a89984;

// Red
$r0: #fb4934;
$r1: #cc241d;
$r2: #9d0006;

// Green
$g0: #b8bb26;
$g1: #98971a;
$g2: #79740e;

// Yellow
$y0: #fabd2f;
$y1: #d79921;
$y2: #b57614;

// Blue
$b0: #83a598;
$b1: #458588;
$b2: #076678;

// Magenta
$m0: #d3869b;
$m1: #b16286;
$m2: #8f3f71;

// Cyan
$c0: #8ec07c;
$c1: #689d6a;
$c2: #427b58;

// Orange
$o0: #fe8019;
$o1: #d65d0e;
$o2: #af3a03;

// Others

$gap: 1rem;
$border-radius: 1rem;

/* Globals */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 1rem;
	font: inherit;
}

ol,
ul {
	li {
		list-style-position: inside;
	}
	
	& & > li {
		margin-left: 1em;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* END */

html {
	scrollbar-width: none;
}

body {
	font-family: 'Iosevka Curly', monospace;
	font-size: 18px;
	font-weight: 500;
	background-color: $bg0h;
	color: $fg0h;
	line-height: 1.4rem;
	margin: 0 $gap;
}

header,
nav,
main,
footer {
	background-color: $bg0;
	padding: 0.5rem;
	border-radius: $border-radius;
	overflow: hidden;
}

header,
footer {
	margin: $gap 0;
}

header {
	text-align: center;

	span {
		position: relative;

		&::before {
			content: attr(hover-text);
			position: absolute;
			opacity: 0;
			z-index: 1;
			right: -60%;
			bottom: 0;
			padding: 0 0.4em;
			border-radius: 0 0.5em 0.5em;
			background-color: #{$bg2}d4;
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(.46, .03, .52, .96);
			transition-delay: .3s;
			pointer-events: none;
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			img {
				rotate: 360deg;
			}
		}

		img {
			height: 3rem;
			cursor: pointer;
			transition-duration: .4s;
			transition-timing-function: cubic-bezier(.46, .03, .52, .96);
		}
	}
}

#principal {
	display: flex;
	gap: $gap;
	flex-flow: row;
}

nav {
	padding: 0;
	min-width: min-content;
	height: max-content;
	position: sticky;
	top: $gap;

	li {
		list-style-type: none;

		&:first-child a {
			margin-top: calc(0.5rem - 0.2em);
			border-radius: $border-radius $border-radius 0 0;
		}

		&:last-child a {
			margin-bottom: calc(0.5rem - 0.2em);
			border-radius: 0 0 $border-radius $border-radius;
		}

		a {
			text-align: center;
			font-size: 1.2rem;
			display: block;
			margin: 0 calc(0.5rem - 0.2em);
			color: $m1;
			padding: 0.2em 0.5rem;
			position: relative;
			letter-spacing: -0.02em;
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(.46, .03, .52, .96);

			&:hover {
				background-color: $m1;
				color: $bg1;
			}
		}
	}
}

main {
	flex-grow: 1;

	img,
	video,
	audio {
		max-width: 90%;
		max-height: 50vh;
		display: block;
		margin: 0 auto;
		border-radius: $border-radius;
	}

	@include heading-indent-increment(2, 6, 1, 1, 'rem');

	h1,
	h2 {
		line-height: 1em;
	}

	h1 {
		font-size: 3rem;
		font-weight: 900;
		color: $c1;
		text-align: center;
		margin: 0.5rem 0;
		letter-spacing: -0.05em;
	}
	
	h2 {
		font-size: 1.8rem;
		font-weight: 700;
		color: $b1;
		margin: $gap 0 0.5rem;
		letter-spacing: -0.02em;
	}

	h3 {
    font-size: 1.5rem;
    color: $y1;
    margin: 0.8rem 0 0.2rem;
	}
	
	h4,
	h5,
	h6 {
    font-size: 1.2rem;
    color: $g1;
    margin: 0.6rem 0 0.2rem;
	}
	
	p {
		+ p {
			margin-top: 1rem;
		}
	}

	table {
		border-collapse: collapse;
		display: block;
		overflow-x: auto;
		
		th,
		td {
			border: 1px solid $fg4;
			padding: 0.3rem;
			color: $fg1;
		}
		
		th {
			background-color: $bg1;
			font-size: 1.1em;
			font-weight: 700;
		}
		
		td {
			background-color: $bg2;
		}
		
		.color-even-rows tr:nth-child(even) td {
			background-color: adjust-color($bg2, $lightness: +5%);
		}
	}
	
	#horario {
		th,
		td {
			border: 1px solid #000;
			vertical-align: middle;
		}
		
		th {
			background-color: #f0f0f0;
			color: #008080;
		}
		
		td {
			color: #000;
		}
		
		.lmsg { background-color: #00b95c; }
		.ing  { background-color: #80ff81; }
		.prog { background-color: #80ffff; }
		.sisi { background-color: #ff8002; }
		.ende { background-color: #8080c0; }
		.bdd  { background-color: #64aa96; }
		.fol  { background-color: #f0f0c8; }
	}

	a {
		display: inline-block;
		color: $m1;
		padding: 0 0.2em;
		border: 1px solid transparent;
		border-radius: 0.4em;
		position: relative;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0.05, -0.15, 1, 1.11);

		&:hover {
			background-color: $bg1;

			&::after,
			&::before {
				transform: scale(1);
			}
		}

		&::before,
		&::after {
			width: 100%;
			height: 100%;
			z-index: 3;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(0);
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0.05, -0.15, 1, 1.11);
			border-radius: 0.4em;
		}

		&::before {
			border-bottom: 1px solid $m2;
			border-left: 1px solid $m2;
			transform-origin: 0 100%;
		}

		&::after {
			border-top: 1px solid $m2;
			border-right: 1px solid $m2;
			transform-origin: 100% 0;
		}
	}

	.src {
		&-inline {
			display: inline-block;
			background-color: $bg2;
			padding: 0 0.3em;
			margin: 0 calc(0.2em - 1px);
			border: 1px solid $fg4;
			border-radius: 0.4em;
		}
	}
	
	#icon {
		&-twitter img,
		&-arrow-up img {
			width: 3rem;
		}
		
		&-arrow-up {
			padding: 0.2rem 0;
		}
	}
	
	#custom {
		&-list {
			padding: 0.5em;
			border-radius: 1.5em;
			border: 1px solid $bg1;
			list-style-position: inside;
			
			li {
				list-style-type: none;
			}
			
			> li {
				background-color: $bg1;
				border-radius: 1em;
				overflow: auto;
				margin: 0;
				padding-top: 0.4em;
				text-indent: 0.4em;
				
				+ li {
					margin-top: 0.5em;
				}
				
				> ol,
				> ul {
					margin-top: 0.2em;
					background-color: $bg2;
					padding: 0.4em 0;

					> li li {
						position: relative;

						&::before {
							position: absolute;
							left: -1em;
							width: 1em;
							content: '▸';
						}
					}
				}
			}
		}

		&-form {
			&-varied {
				display: grid;
				width: max-content;
				grid-column-gap: 1em;
				grid-row-gap: 1em;
				grid-template-columns: repeat(2, minmax(0, 1fr));
				grid-template-rows: repeat(2, auto);
				grid-template-areas:
					"items  items"
					"submit clear";

				> div {
					grid-area: items;
					display: grid;
					grid-template-areas:
						"collapse-select check radio"
						"select          check radio";
					grid-template-columns: repeat(3, minmax(0, 1fr));
					grid-template-rows: repeat(2, auto);
					grid-column-gap: 1em;
					grid-row-gap: 1em;

					> *:nth-child(1) { grid-area: collapse-select; }
					> *:nth-child(2) { grid-area: select; }
					> *:nth-child(3) { grid-area: check; }
					> *:nth-child(4) { grid-area: radio; }
					> *:nth-child(5) { grid-area: submit; }
					> *:nth-child(6) { grid-area: clear; }
				}

				> *:nth-child(2) { grid-area: submit; }
				> *:nth-child(3) { grid-area: clear; }

				input,
				select,
				textarea {
					margin: 0;
				}

				label:first-child {
					margin-top: 0;
				}
			}

			&-html5 {
				margin: 0 auto;
				display: grid;
				grid-column-gap: 1em;
				width: auto;
				grid-row-gap: 1em;
				grid-template-columns: repeat(3, minmax(0, 1fr));
				grid-template-rows: repeat(5, auto);
				grid-template-areas:
					"email  telefono url"
					"hora   fecha    mes"
					"semana numero   fecha-larga"
					"rango  color    archivo"
					"enviar enviar   enviar";

				> *:nth-child(1) { grid-area: email };
				> *:nth-child(2) { grid-area: url };
				> *:nth-child(3) { grid-area: telefono };
				> *:nth-child(4) { grid-area: hora };
				> *:nth-child(5) { grid-area: fecha };
				> *:nth-child(6) { grid-area: mes };
				> *:nth-child(7) { grid-area: semana };
				> *:nth-child(8) { grid-area: fecha-larga };
				> *:nth-child(9) { grid-area: numero };
				> *:nth-child(10) { grid-area: rango };
				> *:nth-child(11) { grid-area: archivo };
				> *:nth-child(12) { grid-area: color };
				> *:nth-child(13) { grid-area: enviar };

				label,
				input {
					margin: 0;
				}
			}
		}
	}
	
	form {
		padding: 0.5rem;
		border: 1px solid $fg4;
		width: min-content;
		border-radius: $border-radius;

		input,
		select,
		textarea {
			display: block;
			background-color: $bg1;
			background: linear-gradient(to left, $bg1 50%, $bg2 50%) right;
			background-size: 200%;
			color: $fg1;
			border-radius: 0.4rem;
			padding: 0.2em;
			margin: 0.5rem 0 0.2rem;
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(.77, 0, .18, 1);

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:focus {
				background-position: left;
			}
		}
		
		input {
			width: 100%;

			&[type=radio],
			&[type=checkbox] {
				width: auto;
			}
			
			&[type="submit"],
			&[type="reset"] {
				cursor: pointer;
				background: none;
				background-color: $bg1;
				transition-duration: .2s;
				transition-timing-function: cubic-bezier(.46, .03, .52, .96);
				position: relative;
				
				&:hover,
				&:focus {
					background-color: $fg1;
					color: $bg1;
				}
			}
		}

		textarea {
			min-height: 2em;
			min-width: 15em;
		}
		
		label {
			display: block;
			margin: 0.5rem 0 0.2rem;
			text-indent: 0.2em;
			
			input {
				display: inline-block;
			}
		}
	}

	sub, sup {
		font-size: 0.75em;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.5em;
	}

	strong {
		font-weight: 700;
	}

	em {
		font-style: italic;
	}

	dd {
		margin-left: 1em;

		+ dt {
			margin-top: 0.5em;
		}
	}
}

footer {
	.postamble {
		text-align: right;
		color: $fg3;
		font-size: 0.9rem;
		line-height: 1em;
	}
}

.text {
	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}
}

.no {
	&-scrollbar {
		scrollbar-width: none;
	}

	&-indent {
		margin-left: 0;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 16px;
		line-height: 1.2rem;
	}

	#principal {
		flex-flow: column;
	}
	
	nav {
		position: initial;
	}

	main {
		#custom-form-html5 {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			grid-template-rows: repeat(7, auto);
			grid-template-areas:
				"email  telefono"
				"url    fecha-larga"
				"hora   fecha"
				"semana mes"
				"numero rango"
				"color  archivo"
				"enviar enviar";
		}
	}
}

@media screen and (max-width: 500px) {
	body {
		font-size: 14px;
		line-height: 1.1rem;
	}

	main {
		form {
			width: auto;

			textarea {
				width: 100%;
			}
		}
		
		#custom-form {
			&-varied {
				width: auto;
				> div {
					grid-template-columns: repeat(2, minmax(0, 1fr));
					grid-template-rows: repeat(2, auto);
					grid-template-areas:
						"collapse-select check"
						"select          radio";
				}
			}

			&-html5 {
				grid-template-columns: repeat(1, minmax(0, 1fr));
				grid-template-rows: repeat(13, auto);
				grid-template-areas:
					"email"
					"telefono"
					"url"
					"fecha-larga"
					"hora"
					"fecha"
					"semana"
					"mes"
					"numero"
					"rango"
					"color"
					"archivo"
					"enviar";
			}
		}
	}
}
