/*
 * By aru
 */
/* FONTS */
@font-face {
  font-family: 'Iosevka Curly';
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/medium/Iosevka-Curly-Medium.eot");
  src: url("fonts/medium/Iosevka-Curly-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/medium/Iosevka-Curly-Medium.woff2") format("woff2"), url("fonts/medium/Iosevka-Curly-Medium.woff") format("woff"), url("fonts/medium/Iosevka-Curly-Medium.ttf") format("truetype"), url("fonts/medium/Iosevka-Curly-Medium.svg#Iosevka-Curly-Medium") format("svg"); }
@font-face {
  font-family: 'Iosevka Curly';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/bold/Iosevka-Curly-Bold.eot");
  src: url("fonts/bold/Iosevka-Curly-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/bold/Iosevka-Curly-Bold.woff2") format("woff2"), url("fonts/bold/Iosevka-Curly-Bold.woff") format("woff"), url("fonts/bold/Iosevka-Curly-Bold.ttf") format("truetype"), url("fonts/bold/Iosevka-Curly-Bold.svg#Iosevka-Curly-Bold") format("svg"); }
@font-face {
  font-family: 'Iosevka Curly';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("fonts/heavy/Iosevka-Curly-Heavy.eot");
  src: url("fonts/heavy/Iosevka-Curly-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/heavy/Iosevka-Curly-Heavy.woff2") format("woff2"), url("fonts/heavy/Iosevka-Curly-Heavy.woff") format("woff"), url("fonts/heavy/Iosevka-Curly-Heavy.ttf") format("truetype"), url("fonts/heavy/Iosevka-Curly-Heavy.svg#Iosevka-Curly-Heavy") format("svg"); }
/* Globals */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 1rem;
  font: inherit; }

ol li,
ul li {
  list-style-position: inside; }
ol ol > li,
ul ol > li, ol
ul > li,
ul
ul > li {
  margin-left: 1em; }

a {
  text-decoration: none;
  cursor: pointer; }

/* END */
html {
  scrollbar-width: none; }

body {
  font-family: 'Iosevka Curly', monospace;
  font-size: 18px;
  font-weight: 500;
  background-color: #1d2021;
  color: #f9f5d7;
  line-height: 1.4rem;
  margin: 0 1rem; }

header,
nav,
main,
footer {
  background-color: #282828;
  padding: 0.5rem;
  border-radius: 1rem;
  overflow: hidden; }

header,
footer {
  margin: 1rem 0; }

header {
  text-align: center; }
  header img {
    height: 3rem; }

#principal {
  display: flex;
  gap: 1rem;
  flex-flow: row; }

nav {
  padding: 0;
  min-width: min-content;
  height: max-content;
  position: sticky;
  top: 1rem; }
  nav li {
    list-style-type: none; }
    nav li:first-child a {
      margin-top: calc(0.5rem - 0.2em);
      border-radius: 1rem 1rem 0 0; }
    nav li:last-child a {
      margin-bottom: calc(0.5rem - 0.2em);
      border-radius: 0 0 1rem 1rem; }
    nav li a {
      text-align: center;
      font-size: 1.2rem;
      display: block;
      margin: 0 calc(0.5rem - 0.2em);
      color: #b16286;
      padding: 0.2em 0.5rem;
      position: relative;
      letter-spacing: -0.02em;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96); }
      nav li a:hover {
        background-color: #b16286;
        color: #3c3836; }

main {
  flex-grow: 1; }
  main img,
  main video,
  main audio {
    max-width: 90%;
    max-height: 50vh;
    display: block;
    margin: 0 auto;
    border-radius: 1rem; }
  main h2 ~ *:not(main h2) {
    margin-left: 1rem; }
  main h3 ~ *:not(main h3) {
    margin-left: 2rem; }
  main h4 ~ *:not(main h4) {
    margin-left: 3rem; }
  main h5 ~ *:not(main h5) {
    margin-left: 4rem; }
  main h6 ~ *:not(main h6) {
    margin-left: 5rem; }
  main h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #689d6a;
    text-align: center;
    line-height: 1em;
    margin: 0.5rem 0;
    letter-spacing: -0.05em; }
  main h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #458588;
    line-height: 1em;
    margin: 1rem 0 0.5rem;
    letter-spacing: -0.02em; }
  main h3 {
    font-size: 1.5rem;
    color: #d79921;
    margin: 0.8rem 0 0.2rem; }
  main h4,
  main h5,
  main h6 {
    font-size: 1.2rem;
    color: #98971a;
    margin: 0.6rem 0 0.2rem; }
  main p + p {
    margin-top: 1rem; }
  main table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto; }
    main table th,
    main table td {
      border: 1px solid #a89984;
      padding: 0.3rem;
      color: #ebdbb2; }
    main table th {
      background-color: #3c3836;
      font-size: 1.1em;
      font-weight: 700; }
    main table td {
      background-color: #504945; }
    main table .color-even-rows tr:nth-child(even) td {
      background-color: #5e5551; }
  main #horario th,
  main #horario td {
    border: 1px solid #000;
    vertical-align: middle; }
  main #horario th {
    background-color: #f0f0f0;
    color: #008080; }
  main #horario td {
    color: #000; }
  main #horario .lmsg {
    background-color: #00b95c; }
  main #horario .ing {
    background-color: #80ff81; }
  main #horario .prog {
    background-color: #80ffff; }
  main #horario .sisi {
    background-color: #ff8002; }
  main #horario .ende {
    background-color: #8080c0; }
  main #horario .bdd {
    background-color: #64aa96; }
  main #horario .fol {
    background-color: #f0f0c8; }
  main a {
    display: inline-block;
    color: #b16286;
    padding: 0 0.2em;
    border: 1px solid transparent;
    border-radius: 0.4em;
    position: relative;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.05, -0.15, 1, 1.11); }
    main a:hover {
      background-color: #3c3836; }
      main a:hover::after, main a:hover::before {
        transform: scale(1); }
    main a::before, main a::after {
      width: 100%;
      height: 100%;
      z-index: 3;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.05, -0.15, 1, 1.11); }
    main a::before {
      border-bottom: 1px solid #8f3f71;
      border-left: 1px solid #8f3f71;
      transform-origin: 0 100%;
      border-radius: 0.4em; }
    main a::after {
      border-top: 1px solid #8f3f71;
      border-right: 1px solid #8f3f71;
      transform-origin: 100% 0;
      border-radius: 0.4em; }
  main .src-inline {
    display: inline-block;
    background-color: #504945;
    padding: 0 0.3em;
    margin: 0 calc(0.2em - 1px);
    border: 1px solid #a89984;
    border-radius: 0.4em; }
  main #icon-twitter img {
    width: 3rem; }
  main #icon-arrow-up {
    padding: 0.2rem 0; }
    main #icon-arrow-up img {
      width: 3rem; }
  main #custom-list {
    padding: 0.5em;
    border-radius: 1.5em;
    border: 1px solid #3c3836;
    list-style-position: inside; }
    main #custom-list li {
      list-style-type: none; }
    main #custom-list > li {
      background-color: #3c3836;
      border-radius: 1em;
      overflow: auto;
      margin: 0;
      padding-top: 0.4em;
      text-indent: 0.4em; }
      main #custom-list > li + li {
        margin-top: 0.5em; }
      main #custom-list > li > ol,
      main #custom-list > li > ul {
        margin-top: 0.2em;
        background-color: #504945;
        padding: 0.4em 0; }
  main #custom-form-varied {
    display: grid;
    width: max-content;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "items  items" "submit clear"; }
    main #custom-form-varied > div {
      grid-area: items;
      display: grid;
      grid-template-areas: "collapse-select check radio" "select          check radio";
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, auto);
      grid-column-gap: 1em;
      grid-row-gap: 1em; }
      main #custom-form-varied > div empty
      > *:nth-child(1) {
        grid-area: collapse-select; }
      main #custom-form-varied > div > *:nth-child(2) {
        grid-area: select; }
      main #custom-form-varied > div > *:nth-child(3) {
        grid-area: check; }
      main #custom-form-varied > div > *:nth-child(4) {
        grid-area: radio; }
      main #custom-form-varied > div > *:nth-child(5) {
        grid-area: submit; }
      main #custom-form-varied > div > *:nth-child(6) {
        grid-area: clear; }
    main #custom-form-varied > *:nth-child(2) {
      grid-area: submit; }
    main #custom-form-varied > *:nth-child(3) {
      grid-area: clear; }
    main #custom-form-varied input,
    main #custom-form-varied select,
    main #custom-form-varied textarea {
      margin: 0; }
    main #custom-form-varied label:first-child {
      margin-top: 0; }
  main #custom-form-html5 {
    margin: 0 auto;
    display: grid;
    grid-column-gap: 1em;
    width: auto;
    grid-row-gap: 1em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "email  telefono url" "hora   fecha    mes" "semana numero   fecha-larga" "rango  color    archivo" "enviar enviar   enviar"; }
    main #custom-form-html5 > *:nth-child(1) {
      grid-area: email; }
    main #custom-form-html5 > *:nth-child(2) {
      grid-area: url; }
    main #custom-form-html5 > *:nth-child(3) {
      grid-area: telefono; }
    main #custom-form-html5 > *:nth-child(4) {
      grid-area: hora; }
    main #custom-form-html5 > *:nth-child(5) {
      grid-area: fecha; }
    main #custom-form-html5 > *:nth-child(6) {
      grid-area: mes; }
    main #custom-form-html5 > *:nth-child(7) {
      grid-area: semana; }
    main #custom-form-html5 > *:nth-child(8) {
      grid-area: fecha-larga; }
    main #custom-form-html5 > *:nth-child(9) {
      grid-area: numero; }
    main #custom-form-html5 > *:nth-child(10) {
      grid-area: rango; }
    main #custom-form-html5 > *:nth-child(11) {
      grid-area: archivo; }
    main #custom-form-html5 > *:nth-child(12) {
      grid-area: color; }
    main #custom-form-html5 > *:nth-child(13) {
      grid-area: enviar; }
    main #custom-form-html5 label,
    main #custom-form-html5 input {
      margin: 0; }
  main form {
    padding: 0.5rem;
    border: 1px solid #a89984;
    width: min-content;
    border-radius: 1rem; }
    main form input,
    main form select,
    main form textarea {
      display: block;
      background-color: #3c3836;
      background: linear-gradient(to left, #3c3836 50%, #504945 50%) right;
      background-size: 200%;
      color: #ebdbb2;
      border-radius: 0.4rem;
      padding: 0.2em;
      margin: 0.5rem 0 0.2rem;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1); }
      main form input:first-child,
      main form select:first-child,
      main form textarea:first-child {
        margin-top: 0; }
      main form input:last-child,
      main form select:last-child,
      main form textarea:last-child {
        margin-bottom: 0; }
      main form input:focus,
      main form select:focus,
      main form textarea:focus {
        background-position: left; }
    main form input {
      width: 100%; }
      main form input[type=radio], main form input[type=checkbox] {
        width: auto; }
      main form input[type="submit"], main form input[type="reset"] {
        cursor: pointer;
        background: none;
        background-color: #3c3836;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
        position: relative; }
        main form input[type="submit"]:hover, main form input[type="submit"]:focus, main form input[type="reset"]:hover, main form input[type="reset"]:focus {
          background-color: #ebdbb2;
          color: #3c3836; }
    main form textarea {
      min-height: 2em;
      min-width: 15em; }
    main form label {
      display: block;
      margin: 0.5rem 0 0.2rem;
      text-indent: 0.2em; }
      main form label input {
        display: inline-block; }
  main sub, main sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  main sup {
    top: -0.5em; }
  main sub {
    bottom: -0.5em; }
  main strong {
    font-weight: 700; }
  main em {
    font-style: italic; }
  main dd {
    margin-left: 1em; }
    main dd + dt {
      margin-top: 0.5em; }

footer .postamble {
  text-align: right;
  color: #bdae93;
  font-size: 0.9rem;
  line-height: 1em; }

.text-center {
  text-align: center; }
.text-right {
  text-align: right; }

.no-scrollbar {
  scrollbar-width: none; }
.no-indent {
  margin-left: 0; }

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
    line-height: 1.2rem; }

  #principal {
    flex-flow: column; }

  nav {
    position: initial; }

  main #custom-form-html5 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "email  telefono" "url    fecha-larga" "hora   fecha" "semana mes" "numero rango" "color  archivo" "enviar enviar"; } }
@media screen and (max-width: 500px) {
  body {
    font-size: 14px;
    line-height: 1.1rem; }

  main form {
    width: auto; }
    main form textarea {
      width: 100%; }
  main #custom-form-varied {
    width: auto; }
    main #custom-form-varied > div {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "collapse-select check" "select          radio"; }
  main #custom-form-html5 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(13, auto);
    grid-template-areas: "email" "telefono" "url" "fecha-larga" "hora" "fecha" "semana" "mes" "numero" "rango" "color" "archivo" "enviar"; } }

/*# sourceMappingURL=index.css.map */
